<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="edit-profile-container">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6">
        <form (submit)="saveChanges()">
          <ion-item>
            <ion-label color="light" position="floating">Nombre de Usuario</ion-label>
            <ion-input [(ngModel)]="userData.username" name="username" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label  color="light" position="floating">Correo Electrónico</ion-label>
            <ion-input type="email" [(ngModel)]="userData.email" name="email" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="light" position="floating">Nueva Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="newPassword" name="newPassword"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="light" position="floating">Confirmar Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword"></ion-input>
          </ion-item>

          <div class="button-container ion-padding">
            <ion-button expand="block" type="submit" color="medium">Guardar Cambios</ion-button>
            <ion-button expand="block" color="medium" (click)="cancelEdit()">Cancelar</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
