<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="edit-profile-container">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6">
        <form (submit)="saveChanges()">
          <ion-item>
            <ion-label color="light" position="floating">Nombre de Usuario</ion-label>
            <ion-input [(ngModel)]="userData.username" name="username" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="light" position="floating">Correo Electrónico</ion-label>
            <ion-input [(ngModel)]="userData.email" name="email" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="light" position="floating">Carrera</ion-label>
            <ion-select [(ngModel)]="userData.career" name="career">
              <ion-select-option value="Ingeniería en Informática">Ingeniería en Informática</ion-select-option>
              <ion-select-option value="Ingeniería Civil">Ingeniería Civil</ion-select-option>
              <ion-select-option value="Derecho">Derecho</ion-select-option>
              <!-- Agrega más opciones aquí -->
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label color="light" position="floating">Modalidad</ion-label>
            <ion-select [(ngModel)]="userData.modalidad" name="modalidad">
              <ion-select-option value="Presencial">Presencial</ion-select-option>
              <ion-select-option value="Online">Online</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label color="light" position="floating">Ubicación</ion-label>
            <ion-input [(ngModel)]="userData.location" name="location"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="light" position="floating">Descripción</ion-label>
            <ion-textarea [(ngModel)]="userData.bio" name="bio"></ion-textarea>
          </ion-item>

          <div class="button-container ion-padding">
            <ion-button expand="block" type="submit" color="medium">Guardar Cambios</ion-button>
            <ion-button expand="block" color="medium" (click)="cancelEdit()">Cancelar</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
