/* Estilos generales de fondo y espaciado */
.content-background {
  background: linear-gradient(to bottom right, #070a35, #efeff1);
  padding: 20px;
  min-height: 100vh; /* Asegura que la página ocupe toda la altura */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* Contenedor de los cursos */
.courses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px; /* Limita el ancho de la lista de cursos */
  margin-top: 20px;
}

/* Estilo de las tarjetas de curso */
.course-card {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.3s ease-in-out;
}

/* Efecto hover para las tarjetas de curso */
.course-card:hover {
  transform: translateY(-5px); /* Eleva la tarjeta ligeramente */
}

/* Estilo del título del curso */
.course-card ion-card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #070a35; /* Color oscuro para el título */
  margin-bottom: 10px;
}

/* Descripción del curso */
.course-card p {
  color: #ffffff; /* Texto gris para la descripción */
  font-size: 1rem;
  margin-bottom: 10px;
  line-height: 1.5;
}

/* Estilo de los botones dentro de la tarjeta */
ion-button {
  font-weight: bold;
  font-size: 16px;
  transition: transform 0.3s, background-color 0.3s;
  margin-top: 10px; /* Espaciado superior */
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  border-radius: 25px;
}

/* Estilo de los botones cuando se pasa el mouse por encima */
ion-button:hover {
  transform: scale(1.05);
  background-color: #0064fa; /* Cambia a color azul al hacer hover */
}

/* Botones específicos de eliminar y registrar asistencia */
ion-button[color='danger'] {
  background-color: #c30f0f; /* Rojo para eliminar */
  color: white;
}

ion-button[color='danger']:hover {
  background-color: #f9f9f9; /* Rojo más intenso al hacer hover */
}

ion-button[color='primary'] {
  background-color: #0d00ff; /* Azul para registrar asistencia */
  color: white;
}

ion-button[color='primary']:hover {
  background-color: #2d6ecf; /* Azul más oscuro al hacer hover */
}
