<ion-header class="custom-header">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="toggleMenu()">
        <ion-icon name="menu-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light" class="welcome-text">Bienvenido, </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" [routerLink]="['/login']">
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-footer  class="footer-menu" position="fixed">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-around">
        <!-- Botones del footer con color primario -->
        <ion-col size="auto">
          <ion-button fill="clear" color="primary" [routerLink]="['/home']">
            <ion-icon name="home-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear" color="primary" [routerLink]="['/calendar']">
            <ion-icon name="calendar-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear" color="primary" [routerLink]="['/notes']">
            <ion-icon name="scan-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear" color="primary" [routerLink]="['/notifications']">
            <ion-icon name="notifications-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear" color="primary" [routerLink]="['/profile']">
            <ion-icon name="person-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
