<ion-header class="custom-header">
  <ion-toolbar color="medium">
    <ion-title>Cursos Disponibles</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addCourse()">
        <ion-icon name="add-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-background">
  <div color=" light" class="courses-container">
    <ion-card color="medium" *ngFor="let course of courses">
      <ion-card-header>
        <ion-card-title>  {{  course.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ course.description }}</p>
        <p><strong> Sala: </strong>{{ course.room }}</p>
        <!-- Botón para registrar asistencia -->
        <ion-button color="primary" (click)="registerAttendance(course.id, course.room)">
          Registrar Asistencia
        </ion-button>
        <ion-button color="danger" (click)="deleteCourse(course.title)">
          Eliminar
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
