.welcome-message {
    text-align: center;
    margin-bottom: 20px;
    h2 {
      font-size: 1.8rem; /* Tamaño de fuente del título */
      color: #ffff; /* Color del texto del título */
      margin: 0; /* Elimina margen por defecto */
    }
    p {
      font-size: 1.2rem; /* Tamaño de fuente del párrafo */
      color: #aaaaaa; /* Color del texto del párrafo */
      margin-top: 5px; /* Espaciado superior */
    }
}

ion-content {
  --background: #092147; /* Fondo oscuro */
}

.custom-alert {
  --background: #fff;
  --color: #333;
  --border-radius: 12px;
  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.custom-alert .alert-title {
  font-weight: bold;
  font-size: 1.2em;
}

.custom-alert .alert-message {
  font-size: 1em;
  margin: 10px 0;
}