.welcome-message {
    text-align: center;
    margin-bottom: 20px;
    h2 {
      font-size: 1.8rem; /* Tamaño de fuente del título */
      color: #ffffff; /* Color del texto del título */
      margin: 0; /* Elimina margen por defecto */
    }
    p {
      font-size: 1.2rem; /* Tamaño de fuente del párrafo */
      color: #fffcfc; /* Color del texto del párrafo */
      margin-top: 5px; /* Espaciado superior */
    }
}

ion-content {
  --background: #21286f; /* Fondo oscuro */
}

.custom-alert {
  --background: #ece6e6;
  --color: #ffffff;
  --border-radius: 12px;
  --box-shadow: 0 2px 8px rgb(255, 255, 255);
}

.custom-alert .alert-title {
  font-weight: bold;
  font-size: 1.2em;
}

.custom-alert .alert-message {
  font-size: 1em;
  margin: 10px 0;
}

.form-container {
  background-color: #000000; /* Color de fondo */
  padding: 20px; /* Espacio interno */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.918); /* Sombra */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -50px; /* Ajusta el valor negativo para mover hacia arriba */
}

.form-container h1 {
  color: #ffffff; /* Color del texto */
  font-size: 24px; /* Tamaño de la fuente */
}

.form-container p {
  color: #ffffff; /* Color de las instrucciones */
  font-size: 16px;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 80%; /* Ancho de los campos de entrada */
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.logo-container {
  position: absolute;
  top: 150px; /* Ajusta este valor para la distancia desde el borde superior */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.logo-container img {
  width: 200px; /* Ajusta el tamaño según sea necesario */
  height: auto; /* Mantiene la proporción del logo */
}
