<ion-header>
  <ion-toolbar>
    <ion-title>Escaneo de QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center color-bg">
  <!-- Video element to show camera feed -->
  <video id="previewVideo" autoplay></video> <!-- Add video element -->

  <!-- ===== Segments ==== -->
  <ion-segment [(ngModel)]="segment" mode="ios">
    <ion-segment-button value="scan">
      <ion-label>Scan QR</ion-label>
    </ion-segment-button>
    <ion-segment-button value="generate">
      <ion-label>Generate QR</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- ===== Scan QR ==== -->
  <div class="segment" *ngIf="segment === 'scan'">
    <div class="segment-content">
      <img src="assets/img/scan-qr.webp" alt="Scan QR">

      <h6 class="scan-label">Escanea un QR</h6>

      <ion-row>
        <ion-col size="6">
          <ion-button (click)="scanQRCode()" expand="block" class="submit">
            Scan QR
            <ion-icon slot="end" name="qr-code-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" class="submit">
            Selecciona
            <ion-icon slot="end" name="image-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <!-- Mostrar resultado del QR escaneado -->
      <ion-item class="result" *ngIf="scannedCode" lines="none">
        <ion-label>
          <p>Resultado del escaneo:</p>
          <div>{{ scannedCode }}</div>
        </ion-label>
      </ion-item>
    </div>
  </div>

  <!-- Botón flotante para escanear QR -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scanQRCode()">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
