/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
:root {
  --ion-background-color: #03024d; 
  --ion-color-primary: #a828fd;  
  --ion-color-primary-rgb: 0, 61, 165;
  --ion-color-secondary: #000000;  
  --ion-color-secondary-rgb: 245, 168, 0;
  --ion-color-dark: #000000;  
  --ion-color-light: #ffffff;
  --ion-color-medium: #2427ca; 
}

/* Solo estilos básicos para no bloquear los estilos de los componentes */

ion-item {
  --background: var(--ion-background-color);
  --border-color: #ffffff;
  --border-width: 1px;
  --border-radius: 8px;
  margin-bottom: 10px;
}

ion-label {
  color: #dbdbdb;
}

ion-input {
  --background: #ffffff;
  --color: #ffffff;
  --placeholder-color: #ffffff;
  color: #ffffff !important; 
}

/* Logotipo */
.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 150px;
  height: auto;
}

.form-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos de Botón */
.button-container {
  text-align: center;
}

ion-button {
  margin-bottom: 10px;
}

ion-button[fill="clear"] {
  --color: #000000;
}
