<ion-header>
  <ion-toolbar color="medium">
    <ion-title>Horario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Encabezado con título grande -->


  <!-- Logo y días del horario -->
  <div class="logo-container">
    <img src="assets/img/Logo_Duoc.png" alt="Logo Duoc UC" class="logo">
  </div>

  <div class="content days-container">
    <!-- Botones para cada día con sus respectivas popovers -->
    <ion-button id="open-popover-Lunes"color="medium">Lunes</ion-button>
    <ion-popover trigger="open-popover-Lunes">
      <ng-template>
        <ion-list>
          <ion-item color="medium" >Libre</ion-item>
        </ion-list>
      </ng-template>
    </ion-popover>

    <ion-button id="open-popover-Martes"color="medium">Martes</ion-button>
    <ion-popover trigger="open-popover-Martes">
      <ng-template>
        <ion-list>
          <ion-item color="medium">ESTADÍSTICA DESCRIPTIVA</ion-item>
          <ion-item color="medium">INGLÉS INTERMEDIO</ion-item>
          <ion-item color="medium">PROGRAMACIÓN APLICACIONES MÓVILES</ion-item>
        </ion-list>
      </ng-template>
    </ion-popover>

    <ion-button id="open-popover-Miercoles"color="medium">Miércoles</ion-button>
    <ion-popover trigger="open-popover-Miercoles">
      <ng-template>
        <ion-list>
          <ion-item color="medium" >ÉTICA PARA EL TRABAJO</ion-item>
          <ion-item color="medium" >INGLÉS INTERMEDIO</ion-item>
        </ion-list>
      </ng-template>
    </ion-popover>

    <ion-button id="open-popover-Jueves"color="medium">Jueves</ion-button>
    <ion-popover trigger="open-popover-Jueves">
      <ng-template>
        <ion-list>
          <ion-item color="medium" >PROGRAMACIÓN DE APLICACIONES MÓVILES</ion-item>
          <ion-item color="medium" >INGLÉS INTERMEDIO</ion-item>
          <ion-item color="medium">CALIDAD DE SOFTWARE</ion-item>
        </ion-list>
      </ng-template>
    </ion-popover>

    <ion-button id="open-popover-Viernes" color="medium">Viernes</ion-button>
    <ion-popover trigger="open-popover-Viernes">
      <ng-template>
        <ion-list>
          <ion-item color="medium" >ESTADÍSTICA DESCRIPTIVA</ion-item>
          <ion-item color="medium" >CALIDAD DE SOFTWARE</ion-item>
          <ion-item color="medium" >INGLÉS INTERMEDIO</ion-item>
          <ion-item color="medium" >ARQUITECTURA</ion-item>
        </ion-list>
      </ng-template>
    </ion-popover>
  </div>
</ion-content>

<ion-footer class="footer-menu">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-around">
        <ion-col size="auto" *ngFor="let page of footerPages">
          <ion-button color="medium" (click)="page.link === '/notifications' ? toggleNotifications() : navigateTo(page.link)">
            <ion-icon [name]="page.icon" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <!-- Contenedor de notificaciones -->
  <div *ngIf="showNotifications" class="notifications-panel">
    <ion-card *ngFor="let notification of notifications">
      <ion-card-header>
        <ion-card-title>{{ notification.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ notification.message }}
      </ion-card-content>
    </ion-card>
    <ion-button expand="full" (click)="clearNotifications()" color="medium">Limpiar Notificaciones</ion-button>
  </div>
</ion-footer>
