<ion-header>
  <ion-toolbar>
    <ion-title class="page-title-large">Horario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="">
  <div class="logo-container">
    <img src="assets/img/Logo_Duoc.png" alt="Logo Duoc UC" class="logo">
  </div>
</ion-content>

<ion-content class="content days-container">
  <ion-button id="open-popover-Lunes">Lunes</ion-button>
  <ion-popover trigger="open-popover-Lunes">
    <ng-template>
      <ion-list>
        <ion-item>Libre</ion-item>
      </ion-list>
    </ng-template>
  </ion-popover>

  <ion-button id="open-popover-Martes">Martes</ion-button>
  <ion-popover trigger="open-popover-Martes">
    <ng-template>
      <ion-list>
        <ion-item>ESTADÍSTICA DESCRIPTIVA</ion-item>
        <ion-item>INGLÉS INTERMEDIO</ion-item>
        <ion-item>PROGRAMACION APLICACIONES MOVILES</ion-item>
      </ion-list>
    </ng-template>
  </ion-popover>

  <ion-button id="open-popover-Miercoles">Miercoles</ion-button>
  <ion-popover trigger="open-popover-Miercoles">
    <ng-template>
      <ion-list>
        <ion-item>ÉTICA PARA EL TRABAJO</ion-item>
        <ion-item>INGLÉS INTERMEDIO</ion-item>
      </ion-list>
    </ng-template>
  </ion-popover>

  <ion-button id="open-popover-Jueves">Jueves</ion-button>
  <ion-popover trigger="open-popover-Jueves">
    <ng-template>
      <ion-list>
        <ion-item>PROGRAMACIÓN DE APLICACIONES MÓVILES</ion-item>
        <ion-item>INGLÉS INTERMEDIO</ion-item>
        <ion-item>CALIDAD DE SOFTWARE</ion-item>
      </ion-list>
    </ng-template>
  </ion-popover>

  <ion-button id="open-popover-Viernes">Viernes</ion-button>
  <ion-popover trigger="open-popover-Viernes">
    <ng-template>
      <ion-list>
        <ion-item>ESTADÍSTICA DESCRIPTIVA</ion-item>
        <ion-item>CALIDAD DE SOFTWARE</ion-item>
        <ion-item>INGLÉS INTERMEDIO</ion-item>
        <ion-item>ARQUITECTURA</ion-item>
      </ion-list>
    </ng-template>
  </ion-popover>
</ion-content>