/* Estilos específicos de home.page.scss */

/* Fondo de la página */


/* Texto de clima */
.weather-text {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  margin: 20px 0;
}

/* Contenedor de formulario */
.form-container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Botón de explorar cursos */
.explore-courses {
  width: 100%;
  margin-bottom: 20px;
}

/* Estilos para los botones */
ion-button {
  font-weight: bold;
  font-size: 16px;
  transition: transform 0.3s;
}

ion-button:hover {
  transform: scale(1.05);
}

/* Panel de notificaciones */
.notifications-panel {
  background-color: #f7f7f7;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 16px;
  box-shadow: 0 -2px 10px rgb(255, 255, 255);
  transition: all 0.3s ease;
  position: relative;
  z-index: 10;
}

/* Contenedor del logo */
.logo-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.logo {
  width: 100px;
  height: auto;
}

/* Estilos para el header personalizado */
.custom-header {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
  background-color: #516583;
}

/* Estilos adicionales para ion-toolbar */
ion-toolbar {
  padding-bottom: 20px;
}

/* Estilos del avatar */
.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #090909; /* Color de fondo del avatar */
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin-right: 8px; /* Separación del texto de bienvenida */
}

.menu-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Estilos para el texto de bienvenida */
.welcome-text {
  font-weight: bold;
  color: #ffffff;
}

/* Ajustes de ion-avatar */
ion-avatar {
  width: 40px;
  height: 40px;
}

/* Ajustes para una mejor presentación */
.logo-container {
  text-align: center;
  margin-top: 10px;
}


.footer-menu ion-icon {
  padding: 0;
  margin: 0;
}
