<ion-header class="custom-header">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <div class="avatar-container">
        <!-- Mostrar las iniciales si están disponibles, de lo contrario una imagen de avatar predeterminada -->
        <div *ngIf="initials" class="avatar">{{ initials }}</div>
        <img *ngIf="!initials" src="assets/img/default-avatar.png" alt="Menu Image" class="menu-image">
      </div>
    </ion-buttons>

    <ion-title>
      <ion-text color="light" class="welcome-text">Bienvenido, {{ username }}</ion-text>
    </ion-title>

<ion-buttons slot="end">
  <ion-button fill="clear" (click)="logout()">
    <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
  </ion-button>
</ion-buttons>
  </ion-toolbar>

  <!-- Logo principal debajo del toolbar -->
  <div class="logo-container">
    <img src="assets/img/Logo_Duoc.png" alt="Logo Duoc UC" class="logo">
  </div>
</ion-header>



<ion-content id="main-content" class="content-background">
  <!-- Sección de Clima como texto lineal -->
  <div class="weather-text">
    <p *ngIf="weatherData">
      <strong>Clima Actual:</strong> {{ weatherData.main.temp }} °C, {{ weatherData.weather[0].description | titlecase }}
    </p>
  </div>

  <div class="form-container">
    <!-- Botón de Cursos reposicionado -->
    <div class="button-container explore-courses">
      <ion-button expand="full" shape="round" color="medium" [routerLink]="['/courses']">
        <ion-icon name="book-outline" slot="start"></ion-icon>
        Explora Cursos
      </ion-button>
    </div>
  </div>
  <div class="logo-container">
    <img src="assets/img/Logo_Duoc.png" alt="Logo Duoc UC" class="logo">
  </div>
</ion-content>
<ion-footer class="footer-menu">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-around">
        <!-- Botones del footer con un estilo moderno -->
        <ion-col size="auto" *ngFor="let page of footerPages">
          <ion-button  color="medium" (click)="page.link === '/notifications' ? toggleNotifications() : navigateTo(page.link)">
            <ion-icon [name]="page.icon" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <!-- Contenedor de notificaciones -->
  <div *ngIf="showNotifications" class="notifications-panel">
    <ion-card *ngFor="let notification of notifications">
      <ion-card-header>
        <ion-card-title>{{ notification.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ notification.message }}
      </ion-card-content>
    </ion-card>
    <ion-button expand="full" (click)="clearNotifications()">Limpiar Notificaciones</ion-button>
  </div>
</ion-footer>
