<ion-header class="custom-header">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="presentAlert()">
        <ion-icon name="logo-whatsapp" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light" class="welcome-text">Bienvenido, {{ username }}</ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" [routerLink]="['/login']">
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="content-background">
  <!-- Sección de Clima como texto lineal -->
  <div class="weather-text">
    <p *ngIf="weatherData">
      <strong>Clima Actual:</strong> {{ weatherData.main.temp }} °C, {{ weatherData.weather[0].description | titlecase }}
    </p>
  </div>

  <div class="form-container">
    <!-- Botón de Cursos reposicionado -->
    <div class="button-container explore-courses">
      <ion-button expand="full" shape="round" color="tertiary" [routerLink]="['/courses']">
        <ion-icon name="book-outline" slot="start"></ion-icon>
        Explora Cursos
      </ion-button>
    </div>
  </div>
</ion-content>
<ion-footer class="footer-menu">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-around">
        <!-- Botones del footer con un estilo moderno -->
        <ion-col size="auto" *ngFor="let page of footerPages">
          <ion-button fill="clear" color="primary" (click)="page.link === '/notifications' ? toggleNotifications() : navigateTo(page.link)">
            <ion-icon [name]="page.icon" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <!-- Contenedor de notificaciones -->
  <div *ngIf="showNotifications" class="notifications-panel">
    <ion-card *ngFor="let notification of notifications">
      <ion-card-header>
        <ion-card-title>{{ notification.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ notification.message }}
      </ion-card-content>
    </ion-card>
    <ion-button expand="full" (click)="clearNotifications()">Limpiar Notificaciones</ion-button>
  </div>
</ion-footer>
